* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(51, 61, 61);
  color: black;
  /*Garante que o body ocupe toda a altura da tela*/
  min-height: 100vh;
}

header {
  background-color: rgb(254, 235, 198);
  padding: 20px;
  color: black;
  text-align:center;
}

.logo{
    /*uso do flexbox para alinhar a logo e o titulo*/
    display: flex;
    align-items: center; /*Alinha verticalmente os itens das div em questao*/
    justify-content: center; /*Centraliza o conteudo horizontalmente*/

    background-color: rgb(228, 230, 182);
}

img{
    max-width: 70px;
    margin-right:10px;
}
